@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800;900&display=swap');

html,
body {
  height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* background-image: url(sources/test-background.png); */
}



.content {
    flex: 1 0 auto;
    
    padding: 1rem;
    /* background: #e6f2ff; */
    
  }
  


footer {
  flex: 0.04 0 auto;
  
  padding: 1rem;
  /* background: #e6ffe6; */

  display: block;
  margin-left: auto;
  margin-right: auto
}

footer a{
    padding: 35px;
}



.username{
  font-size: 64px;
  font-family: 'Rubik', sans-serif;
  color: #FACD00;
  margin-top: -80px;
}

.role{
  position: absolute;
  right: 0;
  font-size: 49px;
  margin-top: -180px;
  margin-right: 20px;
  font-family: 'Rubik', sans-serif;
  color: #FFA252;
}



.money{
  color: #FFA252;
  font-size: 200px;
  font-family: Rubik;
  font-weight: 900;
  position: absolute;
  top: -60px;
  left: 143px;
}

.dollar{
  position: absolute;
  top: 208px;
  left: 255px;
}

.costs1{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: #FACD00;
  font-size: 70px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.9px;
  position: absolute;
  top: 150px;
  left: 525px;
}
.costs2{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFA252;
  font-size: 70px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.9px;
  position: absolute;
  top: 335px;
  left: 515px;
}
.costs3{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: #FACD00;
  font-size: 70px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.9px;
  position: absolute;
  top: 525px;
  left: 520px;
}
.costs4{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: #FACD00;
  font-size: 70px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.9px;
  position: absolute;
  top: 715px;
  left: 520px;
}



.task1{
  color: #A0A0A0;
  text-align: center;
  font-size: 100px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 980px;
  left: 180px;
}

.timer1{
  color: #A0A0A0;
  text-align: center;
  font-size: 120px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 950px;
  left: 1200px;
}

.task2{
  color: #69FF5B;
  text-align: center;
  font-size: 100px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 1240px;
  left: 180px;
}

.timer2{
  color: #69FF5B;
  text-align: center;
  font-size: 120px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 1210px;
  left: 1190px;
}

.task3{
  color: #B413FF;
  text-align: center;
  font-size: 80px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 1540px;
  left: 180px;
}

.timer3{
  color: #B413FF;
  text-align: center;
  font-size: 120px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 1485px;
  left: 1140px;
}

.myTasks{
  color: #FFA252;
  font-size: 76px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  position: absolute;
  top: -55px;
  left: 35px;
}



.task1name{
  color: #A0A0A0;
  text-align: center;
  font-size: 80px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 100px;
  left: 50px;
}

.task1money{
  color: #A0A0A0;
  text-align: center;
  font-size: 120px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 49px;
  left: 975px;
}

.task1time{
  color: #A0A0A0;
  text-align: center;
  font-size: 120px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 41px;
  left: 1210px;
}

.task2name{
  color: #69FF5B;
  text-align: center;
  font-size: 80px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 370px;
  left: 50px;
}

.task2money{
  color: #69FF5B;
  text-align: center;
  font-size: 120px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 320px;
  left: 975px;
}

.task2time{
  color: #69FF5B;
  text-align: center;
  font-size: 120px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 320px;
  left: 1210px;
}

.task3name{
  color: #B413FF;
  text-align: center;
  font-size: 80px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 635px;
  left: 50px;
}

.task3money{
  color: #B413FF;
  text-align: center;
  font-size: 120px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 585px;
  left: 975px;
}

.task3time{
  color: #B413FF;
  text-align: center;
  font-size: 120px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 585px;
  left: 1210px;
}



.video{
  position: absolute;
  top: 615px;
  left: 32px;
}